{% extends "_layout.html" %}
{% block title %}Edit event{% endblock %}
{% block content %}
<form method="post" class="was-validated">
    <input type="hidden" name="eventID" value="{{ event.eventID }}" />
    <div class="form-group">
        <label for="eventName">Event name:</label>
        <input type="text" class="form-control" id="eventName" value="{{ event.eventName }}" name="eventName" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}