{% extends "_layout.html" %}
{% block title %}Add event{% endblock %}
{% block content %}
<form method="post" class="was-validated">
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter event name" name="eventName" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}