{% extends "_layout.html" %}
{% block title %}Tick completed events{% endblock %}
{% block content %}
    <form class="form" method="post">
        <table class="table">

            <thead>
                <tr>
                    <th>Event</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>

                {% for event in enteredEvents %}
                <tr>
                    <td>{{ event.eventName }}</td>
                    <td>
                        <input type="checkbox" name="completed" value="{{ event.entryID }}"
                               {% if event.completed %}
                               {{ "checked" }}
                               {% endif %} />

                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <input type="submit" name="submit" />
    </form>

{% endblock %}